<?xml version="1.0" encoding="utf-8"?>
    <odoo>
        <data>
            <record id="project_action" model="ir.actions.act_window">
            <field name="name">Manager Project</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">exam.project</field>
            <field name="view_mode">tree,form,kanban</field>
        </record>
            <menuitem id="manager_menu_p" name="Manager Project" sequence="1"/>
                <!-- This Menu Item must have a parent and an action -->
                <menuitem id="manager_project_menu" name="Project" parent="manager_menu_p" action="project_action" sequence="1"/>
                <!-- This Menu Item must have a parent and an action -->
                <menuitem id="manager_task_menu" name="Task" parent="manager_menu_p" action="task_action_project" sequence="5"/>
                <menuitem id="manager_tag_menu" name="Tag" parent="manager_menu_p" action="tag_action_project" sequence="10"/>
                <menuitem id="manager_wizard_menu" name="Wizard" parent="manager_menu_p" action="action_wizard" sequence="20"/>
        </data>
    </odoo>
